<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.7.402" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.7.414.4" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net472" />
  <package id="Emgu.CV" version="4.10.0.5680" targetFramework="net472" />
  <package id="Emgu.CV.Bitmap" version="4.10.0.5680" targetFramework="net472" />
  <package id="Emgu.CV.UI" version="4.10.0.5680" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.29.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.2" targetFramework="net472" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NLog" version="5.4.0" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.2.0" targetFramework="net472" />
  <package id="OxyPlot.Wpf" version="2.2.0" targetFramework="net472" />
  <package id="OxyPlot.Wpf.Shared" version="2.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="9.0.2" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="9.0.2" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.2" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Formats.Nrbf" version="9.0.2" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="9.0.2" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="9.0.2" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="9.0.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.2" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.2" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="9.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="ViDi.NET" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Base" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Common" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Data" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Extensions" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Interfaces" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Local" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Logging" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Training.UI" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Training.UI.Interfaces" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.UI" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.UI.Extensions" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.UI.Interfaces" version="6.1.1.26213" targetFramework="net472" />
  <package id="VisionNet.Cognex.Designer.Core" version="4.4.3.11772" targetFramework="net472" />
  <package id="VisionNet.Cognex.VisionPro.Advanced" version="81.0.0.1" targetFramework="net472" />
  <package id="VisionNet.Cognex.VisionPro.Core" version="81.0.0" targetFramework="net472" />
  <package id="Wibu.CodeMeter.WibuCmNET" version="7.0.3933.502" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2662" targetFramework="net472" />
</packages>